@font-face {
  font-family: "nulshockbold";
  src: url("../assets/fonts/nulshock_bd-webfont.woff2") format("woff2"),
    url("../assets/fonts/nulshock_bd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #a7e2e6;
  --shade-light: #d0edf0;
  --shade-dark: #469396;
  --text-dark: #333333;
  --text-light: #ffffff;
  --bg-light: #f3f3f3;
  --bg-dark: #333333;

  --font-plus: "Plus Jakarta Sans", sans-serif;
  --font-nulshock: "nulshockbold", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background: linear-gradient(to right bottom, #a7e2e6, #e0f7f9);
  font-family: var(--font-plus);
  padding: 0;
  margin: 0;
  gap: 0;
  min-height: 99vh;
}

.hero {
  min-height: 100vh;
  margin-block-start: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-dark);
  gap: 2rem;
  padding: 2.5rem;
}

.hero-img {
  width: 90vw;
  height: auto;
}

.hero-img img {
  width: 90vw;
  height: auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 16px;
  text-align: center;
  gap: 24px;
}

h1 span {
  font-family: var(--font-nulshock);
  color: var(--shade-dark);
}

h1 {
  text-align: center;
  color: var(--text-dark);
  font-size: 2rem;
  line-height: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin-block: 24px;
  align-items: center;
  justify-items: center;
  padding-inline: 24px;
  gap: 24px;
}

.container-img {
  width: 80vw;
  border-radius: 24px;
}

.container-flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
  gap: 36px;
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container h2 {
  color: var(--shade-dark);
}

.container-flex h4 {
  color: #666;
  line-height: 24px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 36px;
  background-color: var(--bg-light);
  border-radius: 36px 36px 0px 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 36px;
}

footer {
  background: var(--bg-dark);
  color: var(--text-light);
  margin: 0px;
  padding: 24px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

footer button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  width: 160px;
  height: 48px;
}

footer svg {
  fill: var(--shade-dark);
  width: 36px;
}

footer h1,
h2,
h3 {
  color: var(--primary-color);
  margin-bottom: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  justify-content: space-between;
  gap: 24px;
}

@media (max-width: 481px) {
  .container {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    margin: 0;
    min-height: 85vh;
  }

  .hero-img {
    width: 40vw;
  }
  .hero-img img {
    width: 40vw;
  }

  .hero-text {
    width: 45vw;
  }

  h1 {
    font-size: 3rem;
  }

  .hero h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .container {
    padding-inline: 64px;
  }

  .container-flex {
    display: flex;
    flex-direction: row;
  }

  .container-img {
    width: 50%;
  }

  .footer {
    flex-direction: row;
  }
}
